.img {
  width: 100%;
}

.custom_layout{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 1vh;
}

.btn_add {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.list_custom{
  text-align: left;
  padding-left: 1vw;
  font-size: 140%;
}

.article_container {
  background-color: #ced4da;
  border-radius: 10px;
  height: auto;
  margin-left: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
}

.article_content {
  text-align: left;
  font-size: 130%;
}

.article_amend{
  margin-top: 1vw;
  text-align: right;
}

.article_textarea{
  width: 100%; 
  height: 50vh;
  text-align: left;
}

.article_readonly{
  display: block;
  /* word-wrap: break-word; 
  word-break: normal; */
  white-space: pre-wrap;
}

.artitle_edit{
  /* display: block; */
  display: none;
}

.article_title{
  margin-top: 20px;
  font-size: 200%;
}

.article_index{
  display: none;
}

.my-modal-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}
.my-modal {
  background-color: #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 12px;
  max-width: 360px;
}